<h1>新規登録</h1>

<!--フォームの描画 (user:に@userを渡す)-->
<%= render 'form', user: @user %>

<!--戻るボタン(戻り先はログイン画面)-->
<%= button_to "戻る", {controller: 'login', action: 'logout'}, {method: :get, class: "btn btn-default"} %>
